* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ccc;
}
.container {
  max-width: 900px;
  margin: 0 auto;
}
label {
  font-size: 15px;
  margin-bottom: 5px;
}

input,
select,
textarea {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
}
input:focus {
  outline-color: blue;
}
textarea:focus{
  outline-color: blue;
}

.button_container {
  display: flex;
justify-content: flex-end;
  margin-top: 20px;
}
button {
  background-color: red;
  border: transparent solid 2px;
  padding: 5px 10px;
 border-radius: 8px;
 
}
button:hover {
  background-color: gray;
  border: 2px solid red;
  cursor: pointer;
}
.textarea_control {
  grid-column: 1 / span 2;
}
.textarea_control textarea {
  width: 100%;
}

